/* Education Page css */
.education-body {
  margin: auto;
  position: fixed;
  width: 80%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.education-text {
  background-color: black;
  opacity: 0.8;
  width: 60%;
  margin: auto;
  border-radius: 10px;
  padding: 20px;
}

.education-text h1 {
  text-align: center;
  font-size: 45px;
  font-weight: bold;
  color: white;
  margin-bottom: 0.1em;
}

.education-text h2 {
  text-align: center;
  font-size: 30px;
  color: white;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.education-hr {
  border-top: 5px dotted white;
  width: 80%;
  margin: auto;
}

.education-text p {
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-left: 2em;
}

.education-text ul {
  font-size: 20px;
  font-weight: bold;
  color: white;
  list-style-type: circle;
  margin-left: 2em;
}

/* Education Page css */
