.header-color {
  background-color: azure;
}

.landing-grid {
  background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/80/70/xMKnv5.jpg);
  padding-bottom: 20px;
}

.projects-grid {
  display: flex;
}

.experience-grid {
  background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/80/70/xMKnv5.jpg);
  padding-bottom: 20px;
}

/* Resume Page css */
.resume-right-col {
  background: #27221f;
  color: white;
  padding: 2em;
}

/* Experience Page css */
.experience-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px dotted black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

/* contact page css */

.avatar-img {
  height: 250px;
  padding-top: 2em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.banner-text {
  background-color: black;
  opacity: 0.8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  text-align: center;
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.banner-text p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-bottom: 10px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: auto;
}

.social-links p {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}
